{{#course}}
<div class="Course">
    <h2 class="theme">{{theme}}</h2>
    <label class="quests">
        {{#quests}}
            <h4 class="quest">{{quest}}<br>
                {{#id}}
                <label>
                    <input type="radio" name="quest_{{id}}" value="1">
                    {{rightAnswer}}
                    <br>
                    {{#wrongAnswer}}
                <input type="radio" name="quest_{{id}}" value="0"> {{.}}<br>
                    {{/wrongAnswer}}
                </label>
                {{/id}}
            </h4>
        {{/quests}}
    </label>
</div>
{{/course}}
